# Ignore virtual environment
venv/
.env

# Ignore data files
data/raw/
data/processed/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore reports
reports/figures/